<% include header %>
  
    <div class="ui container HEAD">
        <h1> Coding <i class="code icon"></i> Contests</h1>
    </div>
    <div class="ui raised segment container HEAD">
        <p>
            A Web Application that uses codeforces API to get data about
            the current contests and some information about them.
           <div>
                Made with : 
                <div class="ui list">
                    <div class="item">EJS</div>
                    <div class="item">Node.js</div>
                    <div class="item">Express </div>
                    <div class="item">request</div>
                    <div class="item">Semantic UI</div>
                </div>              
           </div> 
        </p>
    </div>    
    <div class="ui container">
        <table class="ui celled table">
          <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Phase</th>
                    <th>Frozenr</th>
                    <th>Duration in Seconds</th>
                    <th>startTime in Seconds</th>
                    <th>relativeTime in Seconds</th>
                </tr>
           </thead>
           <tbody>
                <% data["result"].forEach(function(Contest){ %>
                  
                    <tr>
                      <td>
                        <div class="ui ribbon label"> <%= Contest.id %> </div>
                      </td>
                      <td><%= Contest.name %></td>
                      <td><%= Contest.type %></td>
                      <td><%= Contest.phase %></td>
                      <td><%= Contest.frozen %></td>
                      <td><%= Contest.durationSeconds %></td>
                      <td><%= Contest.startTimeSeconds %></td>
                      <td><%= Contest.relativeTimeSeconds %></td>
                    </tr>
                  
                <% }) %>
           <tbody>
            <tfoot>
                <tr>
                <th colspan="3">
                  <p>Made by Ahmed Gaafer 2018</p>
                </th>
              </tr>
            </tfoot>
        </table>
    </div>

<% include footer %>